[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
default-time-zone = 'Asia/Tokyo'

skip-character-set-client-handshake

sql_mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION"
