APP_NAME=フリマアプリ
APP_ENV=testing
APP_KEY=
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=laravel_db
DB_USERNAME=laravel_user
DB_PASSWORD=laravel_pass

# Dusk 用オプション
DUSK_DRIVER_PATH=/usr/bin/chromedriver
DUSK_HEADLESS=true
